<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user9_2" class="io.tangtian.springbean.springbean09.bean2.User9_2">
        <constructor-arg name="id" value="0102"/>
        <constructor-arg name="name" value="Jack0102"/>
    </bean>
</beans>
